HELP.md
data-explorer-server/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.git
.svn
.hg
.zip
.gz
.DS_Store
.target
.idea/
target/
.nbproject
*.tgz
.*.swp
.vim
.tmp

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.vite/
.qoder/

data-explorer-ui/node/*
data-explorer-ui/node_modules/*
data-explorer-ui/dist/*
data-explorer-ui/**/*.proxy.js